<form id="form" action="/signup" method="POST">
  <label for="username">Username</label><br>
  <input type="text" name="username">
  <p>

  </p>

  <label for="password">Password</label><br>
  <input type="password" name="password">
  <p>

  </p>

  <button type="submit">Create account</button>


  <p class="account-message">
    Already have an account? <a href="/login">login here</a>
  </p>
</form>

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}