<h1>Basic auth lab</h1>
<p>Welcome to Basic auth lab</p>

<div id="container">
  <a href="/signup">Sign up</a> - 
  <a href="/login">Login</a> - 
  <a href="/main">Account homepage</a> -  
  <a href="/private">Private</a>
</div>