<div id="container">
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <a href="/main">Funny Cat (requires authentication!)</a>
  <a href="/private">Fav GIF (requires authentication!)</a>
  <a href="/logout">Logout</a>
</div>